body {
  font-family:"メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,sans-serif;
  color: #58798b;
  font-size: 12pt
}
h1{
  font-size:200%;
  background-color:#f7f2e7;
}
table{
  border-collapse:  collapse;
}
th,td {
  border: solid 1px;
  padding: 10px;
}
pre {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}
div#main {
  color: #2a6363;
  padding-left: 25px;
  padding-right: 25px;
}
div#sub {
  color: #0099FF;
  background-color: #BBFFBB;
  padding-left: 25px;
  padding-right: 25px;
  width: 350px;
}
.code {
  font-size: 80%;
  font-family: Courier, monospace;
  background-color: #ffffff;
}
.inline {
  color: red;
  background-color: #ececec;
}
.block {
  border: solid 1px;
}